.dashboardMain{
    background-image: url("../../assets/images/dashboardBg5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100vh;
}
.dashboardWrap{
    padding: 50px 0px;
}
.dashboardHeader{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.createManager, .createUser, .Logout{
    padding: 6px 14px;
    background: rgb(43, 110, 43);
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    color: white;
    font-weight: 400;
}
.createManager:hover, .createUser:hover{
    background: rgb(33, 83, 33);
    transition: all 0.7s;
}
.Logout{
    background-color: rgb(134, 60, 60);
}
.Logout:hover{
    background-color: rgb(99, 36, 36);
    transition: all 0.7s;
}
.displayManager{
    margin: 50px 0px;
    color: white;
}
.displayManager Table, .displayUser Table{
    color: white;
}